<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，用于隔离sql-->
<mapper namespace="com.kangyl.springboot.web.user.dao.SysUserDao" >
    <resultMap id="sysUser" type="com.kangyl.springboot.web.user.bean.SysUser" >
        <id column="id"  property="id"/>
        <result column="age" property="age" />
        <result column="user_name" property="userName"/>
        <result column="address" property="address"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="allFields">
        id,age,user_name,address,create_time
    </sql>
    <insert id="insertUser">
        insert into sys_user(
            age,user_name,address,create_time
        )values(
        #{age},
        #{userName},
        #{address},
        #{createTime}
        )
    </insert>

    <update id="updateUser">
        update sys_user
        set age=#{age},
        user_name=#{userName},
        address=#{address},
        create_time=#{create_time}
        where id=#{id}
    </update>

    <delete id="deleteUser">
        delete  from sys_user
        where id=#{id}
    </delete>

    <select id="findAll" resultMap="sysUser">
        select
        <include refid="allFields"/>
        from sys_user
        <where>
            <if test="userName!=null and userName!=''">
                user_name like #{param.userName}
            </if>
            <if test="age!=null ">
                and age=#{param.age}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>